body {
  /*background-image: url("ms/room-images/deluxe/333_10.jpg");
  background-image: url("background.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;*/
  
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.body-container {
  /*max-width: 1200px;*/
  margin: 0px auto;
  margin-left: auto; 
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.top-bar {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid;
}

.top-bar label {
  /*color: rgba(170, 102, 68, 0.8);*/
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-family: "Kunstler Script", Georgia, sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8)
  /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/
}

.sub-bar-wrapper {
  background-color: rgba(50, 50, 50, 1);
  margin-bottom: 0px;
  padding-top:20px;
}

.sub-bar {
  padding-top: 5px;
  /*border-radius: 6px 6px 6px 6px;*/
  height: 80px;
  margin-bottom: 20px;
  min-width: 280px;
}

.sub-bar h3{
  text-align: center;
  font-family: Colonna MT,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 40px;
}

.sub-bar-colour-1 {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 70, 150, 0.8);
}

.sub-bar-colour-2 {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(100, 200, 0, 1);
}

.sub-bar-colour-3 {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(255, 150, 0, 0.8);
}

.sub-bar a{
  color: inherit;
  text-decoration: none;
}

.sub-bar a:hover{
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8)
}

.bottom-bar {
  background-color: orange;
  border-color: black;
  border: 3px solid;
  margin-top: 10px;
}

.bottom-bar h1 {
  text-align: center;
}

.image-slider-wrapper {
  margin-top: 0px;
  /*max-width: 1000px;*/
}

.image-slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  /*border-radius: 6px 6px 6px 6px;*/
}

/* ---------- ---------- Jssor Image Slider Begin---------- ---------- */
.captionOrange, .captionBlack{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.captionOrange{
  background: #EB5100;
  background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack{
	font-size:16px;
  background: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover{
  color: #eb5100;
  text-decoration: underline;
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.7);
}
.bricon{
  background: url(img/browser-icons.png);
}
/* #region Bullet Navigator Skin Begin  */
.jssorb01 {
  position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
/* #endregion Bullet Navigator Skin End */            

/* #region Arrow Navigator Skin Begin */
  .jssora05l, .jssora05r {
      display: block;
      position: absolute;
      /* size of arrow element */
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url(img/a17.png) no-repeat;
      overflow: hidden;
  }
  .jssora05l { background-position: -10px -40px; }
  .jssora05r { background-position: -70px -40px; }
  .jssora05l:hover { background-position: -130px -40px; }
  .jssora05r:hover { background-position: -190px -40px; }
  .jssora05l.jssora05ldn { background-position: -250px -40px; }
  .jssora05r.jssora05rdn { background-position: -310px -40px; }
/* #region Arrow Navigator Skin End */     
/* ---------- ---------- Jssor Image Slider End---------- ---------- */        