body {
  background-color: #000;
}

h3 {
  text-align: center;
}

.body-container {
  max-width: 1200px;
  margin: 0px auto;
  margin-left: auto; 
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.top-bar {
  margin: 10px;
}

.top-bar label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  font-family: "Kunstler Script",Georgia, sans-serif;
}

.sub-bar {
  background-color: orange;
  border-color: black;
  border: 1px solid;
  border-radius: 6px 6px 6px 6px;
}

.sub-bar a{
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.sub-bar a:hover{
  background: transparent !important;
}

.bottom-bar {
  background-color: orange;
  border-color: black;
  border: 3px solid;
  margin-top: 10px;
}

.bottom-bar h1 {
  text-align: center;
}

.image-slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 6px 6px 6px 6px;
}

/* ---------- ---------- Jssor Image Slider Begin---------- ---------- */
.captionOrange, .captionBlack{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.captionOrange{
  background: #EB5100;
  background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack{
	font-size:16px;
  background: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover{
  color: #eb5100;
  text-decoration: underline;
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.7);
}
.bricon{
  background: url(img/browser-icons.png);
}
/* #region Bullet Navigator Skin Begin  */
.jssorb01 {
  position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
/* #endregion Bullet Navigator Skin End */            

/* #region Arrow Navigator Skin Begin */
  .jssora05l, .jssora05r {
      display: block;
      position: absolute;
      /* size of arrow element */
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url(img/a17.png) no-repeat;
      overflow: hidden;
  }
  .jssora05l { background-position: -10px -40px; }
  .jssora05r { background-position: -70px -40px; }
  .jssora05l:hover { background-position: -130px -40px; }
  .jssora05r:hover { background-position: -190px -40px; }
  .jssora05l.jssora05ldn { background-position: -250px -40px; }
  .jssora05r.jssora05rdn { background-position: -310px -40px; }
/* #region Arrow Navigator Skin End */     
/* ---------- ---------- Jssor Image Slider End---------- ---------- */        