    /* rooms page section */

#rooms-title {
    border-bottom:      1px solid #e4e4e4;
    padding-bottom:     20px;
}
#rooms-detail-title {
    border-bottom:      1px solid #e4e4e4;
    font-family:        "Cardo", serif;
    padding-bottom:     10px;

    #margin-left:        auto;
    #margin-right:       auto;
    #max-width:          95%;
}
#rooms-detail{
    font-style:         italic;
    list-style:         url(../images/checkmark.png);
    padding-left:       20px;

    #font-size:          15px;
    #margin-left:        auto;
    #margin-right:       auto;
    #max-width:          95%;
}
.room-type-navbar {
    #margin-left:        8%;
    #margin-right:       8%;
    #text-align:         center;
}
.room-type-navbar > div {
    margin-bottom:      10px;
}
.room-title {
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         50px;
    max-width:          100%;
}
.room-container {
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         10px;
    max-width:          100%;
}
.room-title h1 {
    font-family:        Impact, Charcoal, sans-serif;
}
.room-price-container {
    background-color:   rgba(32, 32, 32, 0.75);
    border:             3px solid rgba(0, 0, 0, 1);
    color:              rgba(255, 255, 255, 0.75);
    font-family:        "Cardo", serif;
    font-size:          25px;
    padding-bottom:     15px;
    padding-top:        12px;
    text-align:         center;
    width:              100%;

    #height:             100px;
    #margin-left:        auto;
    #margin-right:       auto;
    #width:              95%;
}
.room-price-container:hover {
    background-color:   rgba(32, 32, 32, 0.2);
    color:              rgba(32, 32, 32, 1);
}
.room-price-container h2 {
    margin:             0;
    /*display:            inline;*/
}
.room-price-container h6 {
    font-size:          20px;
    font-style:         italic;
    margin:             0;

    #font-weight:        lighter;
    #margin-top:         0px;
}
/*.room-type {
    width:              100%;
    text-align:         center;
}*/
.room-link {
    background-color:   #202020;
    color:              #aaa;
    cursor:             pointer;
    font-family:        "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size:          15px;
    font-style:         bold;
    margin-bottom:      0;
    padding:            6px 6px 9px;
    text-align:         center;
    width:              100%;

    #margin-bottom: 10px;
    #min-width: 200px;
    #height: 40px;
    #margin: 1%;
    #width: 23%;
}
.room-link:hover {
    color:              #fff;
}
.room-link-image {
    width:              100%;
}
.room-header {
    display:inline;
}
.back-to-top {
    color:              #000;
    float:              right;
    margin-left:        5px;
}
.back-to-top:hover{
    color:              #000;
    text-decoration:    none;
}
.gallery-title {
    font-family:        Impact, Charcoal, sans-serif;
}
.room-body {
    margin-left:        auto;
    margin-right:       auto;
    max-width:          100%;
}
.room-grey{
    background-color:   rgba(0,0,0,0.1);
}

    /* rooms page section - zeik-Version */

.striped-row {
    background:         rgba(94, 94, 94, 0.9);
    color:              #fff;
    padding-bottom:     10px;
    margin-top:         52px;
    padding-top:        10px;

    #background:         #5e5e5e;
}
.striped-row .room-title {
    margin-top:         0;
}
.striped-row .room-header {
    margin-left:        5px;
}
.striped-row .back-to-top2 {
    margin-right:       5px;
}
.striped-row .room-price-container:hover,
.striped-row .room-price-container2:hover {
    background-color:   rgba(255, 255, 255, 0.75);
}
.rooms-container {
    height:             500px;
    width:              960px;
}
#rooms-detail-title2 {
    border-bottom:      1px solid #e4e4e4;
    font-family:        "Cardo", serif;
    margin:             0 0 5px;
    padding-bottom:     5px;
}
.room-price-container2 {
    background-color:   rgba(32, 32, 32, 0.75);
    border:             3px solid rgba(0, 0, 0, 1);
    color:              rgba(255, 255, 255, 0.75);
    font-family:        "Cardo", serif;
    font-size:          25px;
    padding-bottom:     10px;
    padding-top:        10px;
    text-align:         center;
    width:              100%;
}
.room-price-container2:hover {
    background-color:   rgba(32, 32, 32, 0.2);
    color:              rgba(32, 32, 32, 1);
}
.room-price-container2 h2 {
    display:            inline;
    margin:             0;
}
.room-price-container2 h4 {
    display:            inline;
    font-size:          20px;
    font-style:         italic;
    margin:             0;
}
.img-shadow {
    float:              left;
    max-width:          100%;
    position:           relative;
}
.img-shadow::before {
    bottom:             0;
    content:            '';
    left:               0;
    position:           absolute;
    right:              0;
    top:                0;

    -moz-box-shadow:    0 0 50px #000 inset;
    -ms-box-shadow:     0 0 50px #000 inset;
    -o-box-shadow:      0 0 50px #000 inset;
    -webkit-box-shadow: 0 0 50px #000 inset;
    box-shadow:         0 0 50px #000 inset;
}
.unavailable {
    float:              left;
    /*max-width:          100%;*/
    pointer-events:     none;
    position:           relative;
    width: 100%;
}
.unavailable::before {
    bottom:             0;
    content:            '';
    left:               0;
    position:           absolute;
    right:              0;
    top:                0;
    z-index:            1;

    background: rgba(255, 255, 255, 0.6);
}
.back-to-top2 {
    cursor:             pointer;
    float:              right;
    font-size:          30px;
    line-height:        40px;
    vertical-align:     middle;
}/* zeik */