
/* general styles */

html,
body {
    height:             100%;
    width:              100%;

    /*background:         url("../images/background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*margin: 0;*/
}
.pageContact {
    font-size:          10px;
}

/* flex section */

.row-left-flex-container {
    display:            flex;
    align-items:        center;
    flex-flow:          row nowrap; /* <‘flex-direction’> || <‘flex-wrap’> */
    justify-content:    flex-start;
}
.row-left-flex-container > * {
    flex:               0 0 auto;
}
.flex-spacer {
    flex:               1 0 auto; /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
}

/* padded section */

.pad-section {
    padding:            50px 0;
}
.pad-section img {
    width:              100%;
}

/* vertical-centered text */

.text-vcenter {
    display:            table-cell;
    text-align:         center;
    vertical-align:     middle;
}
.text-vcenter h1 {
    font-size:          4.5em;
    font-weight:        700;
    margin:             0;
    padding:            0;
}

/* additional sections */

#box1 {
    #background:         darkblue;
    background:         url("../images/background.jpg");
    color:              white;
    display:            table;
    width:              100%;
    /*height:             150px;*/
}
#box1 .row-left-flex-container {
    height:             114px;
}
#box2 {
    background-color:   #EA8200;
    color:              white;
    #height:             100%;
    #height:             400px;
}
#box3 {
    background-color:   #182C3C;
    color:              white;
    #height:             100%;
    min-height:         500px;
}

footer {
    background:         #e5e5e5;
    padding:            20px 0;
}
footer .glyphicon {
    color:              #333333;
    font-size:          60px;
}
footer .glyphicon:hover {
    color:              #EE2E24;
}

.goToTop {
    position:           fixed;
    top:                0;
    #height:             70px;
    height:             52px;
    z-index:            1;
}
.marginFromTop {
    #margin-top:         72px;
    margin-top:         52px;
}

nav {
    position:           absolute;
    bottom:             0;
    width:              100%;
    background:         #fff;
}
nav li {
    background:         #f8f8f8;
}

#map-canvas {
    background-color:   #ccc;
    height:             400px;
    width:              500px;
}
#nameOnMap {
    margin-top:         0;
    width:              130px;
}

/* bootstrap overwrite */

.navbar {
    border-radius:      0;
    margin:             0;
}
