/* temp */

.hideBlock {
    display: none;
}
.popover {
    color: black;
}
.leftDivider {
    border-left: 1px solid #405B75;
}
.rightDivider {
    border-right: 1px solid #6B839A;
}
.topDivider {
    border-top: 1px solid #6B839A;
}
.bottomDivider {
    border-bottom: 1px solid #405B75;
}
.underdev {
    pointer-events:     none;
}

/* general styles */

html,
body {
    height:             100%;
    width:              100%;

    /*background:         url("../images/background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*margin: 0;*/
}
body {
    #background:         url("../images/background.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    #background:         url("../images/background.jpg") no-repeat fixed center 120px rgba(0, 0, 0, 0);
    #background:         url("../images/background.jpg") no-repeat fixed center 0 / cover rgba(0, 0, 0, 0);
    background:         url("../images/1606313.jpg") no-repeat fixed center 0 / cover rgba(0, 0, 0, 0);
}
#hotel-name {
    color:              #424242;
    #font-family:        "Cardo",serif;
    #font-family:        Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    #font-family:        "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
    font-family:        "Lucida Bright",Georgia,serif;
    font-size:          30px;
    font-weight:        400;
    outline:            medium none;
    text-align:         center;
    text-decoration:    none;
    transition:         all 0.3s ease-in-out 0s;
}
#hotel-name #tagline {
    color:              #aaa;
    display:            block;
    font-family:        "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
    font-size:          12px;
    letter-spacing:     1.5px;
    margin:             5px 0 0;
}
.langSwitch {
    align-self:         flex-end;
    color:              #fff;
    font-size:          12px; 
}
.pageTitle {
    #font-family:        Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-family:        "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-size:          32px;
    font-weight:        bold;
}
.pageText{
    text-align:         justify;
}
#box1,
#box3,
.navbar,
footer {
    margin-left:        auto;
    margin-right:       auto;
    max-width:          960px;
    /*margin-left:        100px;
    margin-right:       100px;*/
}
.flexslider {
    /*box-shadow:         none;*/
    margin:             0 auto;
}
.flexslider,
.flexslider .slides img {
    /*height:             auto;*/
    width:              750px;
}
#slider {
    box-shadow:         none !important;
}
.mcSlc {
    width: 100% !important;
    height: 306px !important;
}
#slider,
.mcSlc {
    #background-position: center !important;
    background-position: center bottom !important;
}

/* flex section */

.row-left-flex-container {
    display:            flex;
    align-items:        center;
    flex-flow:          row nowrap; /* <‘flex-direction’> || <‘flex-wrap’> */
    justify-content:    flex-start;
}
.row-right-flex-container {
    display:            flex;
    align-items:        center;
    flex-flow:          row nowrap;
    justify-content:    flex-end;
}
.col-top-flex-container {
    display:            flex;

    align-items:        center;
    flex-flow:          column nowrap; /* <‘flex-direction’> || <‘flex-wrap’> */
    justify-content:    flex-start;
}
.col-bottom-flex-container {
    display:            flex;

    align-items:        center;
    flex-flow:          column nowrap; /* <‘flex-direction’> || <‘flex-wrap’> */
    justify-content:    flex-end;
}
.row-left-flex-container > *,
.row-right-flex-container > *,
.col-top-flex-container > *,
.col-bottom-flex-container > * {
    flex:               0 0 auto;
}
.flex-spacer {
    flex:               1 0 auto; /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
}

/* padded section */

.pad-section {
    padding:            0 0 10px 0;
}
/*.pad-section img {
    width:              100%;
}*/

/* vertical-centered text */

.text-vcenter {
    display:            table-cell;
    text-align:         center;
    vertical-align:     middle;
}
.text-vcenter h1 {
    font-size:          4.5em;
    font-weight:        700;
    margin:             0;
    padding:            0;
}

/* additional sections */

#box1 {
    #background:         url("../images/background.jpg");
    #background:         url("../images/texture-1.jpeg");
    background:         #fff;

    #background:          -webkit-radial-gradient(#dcdcdc, #fff, #dcdcdc);
    #background:          -o-radial-gradient(#dcdcdc, #fff, #dcdcdc);
    #background:          -moz-radial-gradient(#dcdcdc, #fff, #dcdcdc);
    #background:          radial-gradient(#dcdcdc 0%, #fff 20%) 0 8px;

    #background:         -webkit-linear-gradient(#fff, #dcdcdc, #fff);
    #background:         -o-linear-gradient(#fff, #dcdcdc, #fff);
    #background:         -moz-linear-gradient(#fff, #dcdcdc, #fff);
    #background:         linear-gradient(#fff, #dcdcdc, #fff);

    /*color:              white;*/
    display:            table;
    width:              100%;
    /*height:             150px;*/
}
#box1 .row-left-flex-container {
    height:             114px;
}
#navbar-collapse-main.navbar-collapse {
    /*background:         rgb(248,​ 248,​ 248);*/
    /*padding-left:       0;
    padding-right:      0;*/
}
#box2 {
    background-color:   #EA8200;
    color:              white;
    #height:             100%;
    #height:             400px;
}
#box3 {
    #background-color:   #182c3c;
    #background-color:   #151313;
    background-color:   #fff;
    box-shadow:         0 1px 6px 1px rgba(0, 0, 0, 0.2);
    #color:              white;
    #height:             100%;
    #min-height:         500px;
    min-height:         100%;
}
#contactusform .has-feedback .form-control-feedback {
    top: 8px;
}

/* navigation */

nav {
    position:           absolute;
    bottom:             0;
    width:              100%;
    background:         #fff;
}
/*nav li {
    background:         #f8f8f8;
}*/
.goToTop {
    position:           fixed;
    top:                0;
    #height:             70px;
    height:             52px;
    z-index:            11;
}
.goToTop .navbar-collapse {
    background:         none repeat scroll 0 0 rgb(248, 248, 248);
    max-height:         200px;
}
/*.goToTop {
    height:             52px;
}*/
.marginFromTop {
    #margin-top:         72px;
    margin-top:         52px;
}

/* footer */

.footerDivider {
    #border-color:       #000;
    border-color:       #9c9c9c;
}
footer {
    #background-color:   #e5e5e5;
    background-color:   #cfcfcf;
    #background:          -moz-linear-gradient(#182c3c, #cfcfcf 80%);
    #background:          -o-linear-gradient(#182c3c, #cfcfcf 80%);
    #background:          -webkit-linear-gradient(#182c3c, #cfcfcf 80%);
    #background:          linear-gradient(#182c3c, #cfcfcf 80%);
    #box-shadow:         0 5px 4px #5d5d5d inset;
    padding:            10px 0;
}
/*.contactIcon {
    margin-right:       10px;
}*/
footer .glyphicon.contactIcon {
    font-size:          24px;
    margin-right:       10px;
    margin-top:         4px;
}
footer .glyphicon.contactIcon:hover {
    color:              inherit;
}
/*footer .glyphicon {
    color:              #333333;
    font-size:          60px;
}*/
footer .glyphicon:hover {
    color:              #EE2E24;
}
.pageContact {
    font-size:          10px;
}
.contactSpace1 {
    width:              40px;
}
.TA_selfserveprop {
    margin-bottom:      10px;
}
.TA_selfserveprop > div {
    width:              100% !important;
}

/* bootstrap lightbox */
body.lightbox-open,
.lightbox-open .navbar-fixed-top,
.lightbox-open .navbar-fixed-bottom {
    margin-right:       auto !important;
}
/*.example {
  #position: relative;
  position: absolute;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}*/

/* bootstrap overwrite */

.navbar {
    border-radius:      0;
    margin-top:         0;
    margin-bottom:      0;
}
.navbar-inverse {
    border:             0;
}
.navbar-fixed-top {
    border-width:       1px;
    height:             52px;
}
.navbar-collapse {
    background:         none repeat scroll 0 0 rgb(248, 248, 248); /* if use navbar-inverse then disabled this and open below */
    background-color:   #222;
}
.navbar-fixed-top .navbar-collapse/*,
.navbar-fixed-bottom .navbar-collapse*/ {
    max-height:         200px;
}
.navbar-fixed-top .navbar-collapse/*,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse*/ {
    padding-left:       15px;
    padding-right:      15px;
}

/* google map */

#map-canvas {
    background-color:   #ccc;
    height:             350px;
    #width:              425px;
    width:              100%;
    /*float:              right;*/
}
#nameOnMap {
    margin-top:         0;
    width:              130px;
}

/* image gallery */
/* To do: Add animation support for IE */

/** {
    margin: 0;
    padding: 0;
}*/

/*img {border: none;}*/

#imgGalleryBody {
    text-align: center;
}

#imgGalleryBox {
    background: #000;
    border:     10px solid #000;
    margin:     0 auto;
    overflow:   hidden;
    text-align: left;
    width:      700px;
    
    box-shadow: #131313 0px 3px 10px; 
    
    /* Google Chrome / Safari / Opera */
    -webkit-box-shadow:                 #131313 0px 2px 10px;
    -webkit-animation-name:             fadeIn; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-delay:            0s;
    
    /* Mozilla Firefox */
    -moz-box-shadow:                #131313 0px 3px 10px;
    -moz-animation-name:            fadeIn; 
    -moz-animation-duration:        1s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-delay:           0s;
}

ul#slider{
    height:     438px;
    list-style: none;
    margin:     0;
    overflow:   hidden;
    padding:    0;
    position:   relative;
    /*width:              700px;*/

    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
}

ul#thumb {
    background: #000;
    list-style: none;
    margin:     0;
    overflow:   auto;
    overflow:   none;
    padding:    0;
    position:   relative;
    /*width: 700px;*/
}

ul#thumb a {
    border:   1px solid #979797;
    display:  block;
    float:    right;
    height:   35px;
    margin:   10px 0px 0px 10px;
    opacity:  0.75;
    overflow: hidden;
    width:    50px;

    -moz-transition:    opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    transition:         opacity .2s ease-in-out;
}

ul#thumb a:hover {
    opacity: 1;
} 

ul#slider li {  
    height:   438px;
    position: absolute;
    width:    700px;
}
    
ul#slider li p {
    background: rgba(0, 0, 0, .5);
    bottom:     0;
    color:      #fff;
    left:       0;
    position:   absolute;
    width:      100%;
    z-index:    inherit;
}

ul#slider li p span {
    display:      block;
    line-height:  1.2em;
    padding:       10px;
}

ul#slider li:target {
    left:     0;
    top:      0;
    z-index:  10;

    /* Google Chrome / Safari / Opera */
    -webkit-animation-name:             moveTarget; 
    -webkit-animation-duration:         .5s; 
    -webkit-animation-iteration-count:  1;
    
    /* Mozilla Firefox */
    -moz-animation-name:            moveTarget; 
    -moz-animation-duration:        .5s; 
    -moz-animation-iteration-count: 1;
}

ul#slider li:not(:target) {
    left: 0;
    top:  0;

    /* Google Chrome / Safari / Opera */
    -webkit-animation-name:             moveIt; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  1;
    
    /* Mozilla Firefox */
    -moz-animation-name:            moveIt; 
    -moz-animation-duration:        1.5s; 
    -moz-animation-iteration-count: 1;
}

/*** Google Chrome / Safari / Opera keyframe start ***/
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes moveTarget {
    0%   { left:-700px; }
    100%  { left:0px; }
}

@-webkit-keyframes moveIt {
    0%    { left:0px; }
    50%     { left:700px; }
    100% { 
      left:-700px;
      z-index: 5; 
    }
}
/*** Google Chrome / Safari / Opera keyframe end ***/

/*** Mozilla Firefox keyframe start ***/
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes moveTarget {
    0% { left:-700px; }
    100% { left:0px; }
}

@-moz-keyframes moveIt {
    0% { left:0px; }
    50%  { left:700px; }
    100% { 
      left:-700px;
      z-index: 5; 
    }
}
/*** Mozilla Firefox keyframe end ***/
