/* general styles */

html,
body {
    height:             100%;
    width:              100%;

    /*background:         url("../images/background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*margin: 0;*/
}
.footerDivider {
    border-color:       #000;
}
.pageContact {
    font-size:          10px;
}
.contactIcon {
    margin-right:       10px;
}
.contactSpace1 {
    width:              40px;
}
.underdev {
    pointer-events:     none;
}

/* flex section */

.row-left-flex-container {
    display:            flex;
    align-items:        center;
    flex-flow:          row nowrap; /* <‘flex-direction’> || <‘flex-wrap’> */
    justify-content:    flex-start;
}
.row-left-flex-container > * {
    flex:               0 0 auto;
}
.flex-spacer {
    flex:               1 0 auto; /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
}

/* padded section */

.pad-section {
    padding:            50px 0;
}
.pad-section img {
    width:              100%;
}

/* vertical-centered text */

.text-vcenter {
    display:            table-cell;
    text-align:         center;
    vertical-align:     middle;
}
.text-vcenter h1 {
    font-size:          4.5em;
    font-weight:        700;
    margin:             0;
    padding:            0;
}

/* additional sections */

#box1 {
    #background:         darkblue;
    background:         url("../images/background.jpg");
    color:              white;
    display:            table;
    width:              100%;
    /*height:             150px;*/
}
#box1 .row-left-flex-container {
    height:             114px;
}
#box2 {
    background-color:   #EA8200;
    color:              white;
    #height:             100%;
    #height:             400px;
}
#box3 {
    background-color:   #182C3C;
    color:              white;
    #height:             100%;
    min-height:         500px;
}

footer {
    background:         #e5e5e5;
    padding:            20px 0;
}
footer .glyphicon {
    color:              #333333;
    font-size:          60px;
}
footer .glyphicon:hover {
    color:              #EE2E24;
}

.goToTop {
    position:           fixed;
    top:                0;
    #height:             70px;
    height:             52px;
    z-index:            11;
}
.marginFromTop {
    #margin-top:         72px;
    margin-top:         52px;
}

nav {
    position:           absolute;
    bottom:             0;
    width:              100%;
    background:         #fff;
}
nav li {
    background:         #f8f8f8;
}

#map-canvas {
    background-color:   #ccc;
    height:             400px;
    width:              500px;
}
#nameOnMap {
    margin-top:         0;
    width:              130px;
}

/* bootstrap overwrite */

.navbar {
    border-radius:      0;
    margin:             0;
}

/* image gallery */
/* To do: Add animation support for IE */

* {
    margin: 0;
    padding: 0;
}

/*img {border: none;}*/

#imgGalleryBody {
    text-align: center;
}

#imgGalleryBox {
    background: #000;
    border:     10px solid #000;
    margin:     0 auto;
    overflow:   hidden;
    text-align: left;
    width:      700px;
    
    box-shadow: #131313 0px 3px 10px; 
    
    /* Google Chrome / Safari / Opera */
    -webkit-box-shadow:                 #131313 0px 2px 10px;
    -webkit-animation-name:             fadeIn; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-delay:            0s;
    
    /* Mozilla Firefox */
    -moz-box-shadow:                #131313 0px 3px 10px;
    -moz-animation-name:            fadeIn; 
    -moz-animation-duration:        1s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-delay:           0s;
}

ul#slider{
    height:     438px;
    list-style: none;
    margin:     0;
    overflow:   hidden;
    padding:    0;
    position:   relative;
    /*width:              700px;*/

    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
}

ul#thumb {
    background: #000;
    list-style: none;
    margin:     0;
    overflow:   auto;
    overflow:   none;
    padding:    0;
    position:   relative;
    /*width: 700px;*/
}

ul#thumb a {
    border:   1px solid #979797;
    display:  block;
    float:    right;
    height:   35px;
    margin:   10px 0px 0px 10px;
    opacity:  0.75;
    overflow: hidden;
    width:    50px;

    -moz-transition:    opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    transition:         opacity .2s ease-in-out;
}

ul#thumb a:hover {
    opacity: 1;
} 

ul#slider li {  
    height:   438px;
    position: absolute;
    width:    700px;
}
    
ul#slider li p {
    background: rgba(0, 0, 0, .5);
    bottom:     0;
    color:      #fff;
    left:       0;
    position:   absolute;
    width:      100%;
    z-index:    inherit;
}

ul#slider li p span {
    display:      block;
    line-height:  1.2em;
    padding:       10px;
}

ul#slider li:target {
    left:     0;
    top:      0;
    z-index:  10;

    /* Google Chrome / Safari / Opera */
    -webkit-animation-name:             moveTarget; 
    -webkit-animation-duration:         .5s; 
    -webkit-animation-iteration-count:  1;
    
    /* Mozilla Firefox */
    -moz-animation-name:            moveTarget; 
    -moz-animation-duration:        .5s; 
    -moz-animation-iteration-count: 1;
}

ul#slider li:not(:target) {
    left: 0;
    top:  0;

    /* Google Chrome / Safari / Opera */
    -webkit-animation-name:             moveIt; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  1;
    
    /* Mozilla Firefox */
    -moz-animation-name:            moveIt; 
    -moz-animation-duration:        1.5s; 
    -moz-animation-iteration-count: 1;
}

/*** Google Chrome / Safari / Opera keyframe start ***/
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes moveTarget {
    0%   { left:-700px; }
    100%  { left:0px; }
}

@-webkit-keyframes moveIt {
    0%    { left:0px; }
    50%     { left:700px; }
    100% { 
      left:-700px;
      z-index: 5; 
    }
}
/*** Google Chrome / Safari / Opera keyframe end ***/

/*** Mozilla Firefox keyframe start ***/
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes moveTarget {
    0% { left:-700px; }
    100% { left:0px; }
}

@-moz-keyframes moveIt {
    0% { left:0px; }
    50%  { left:700px; }
    100% { 
      left:-700px;
      z-index: 5; 
    }
}
/*** Mozilla Firefox keyframe end ***/
