.slider1-T .w, .slider1-T .pav:hover .w, .slider1-T .phv .w
						{
							position: absolute;
							WIDTH: 60px;
							HEIGHT: 30px;
							border: white 1px dashed;
						}
						* html .slider1-T .w
						{
							WIDTH /**/: 62px;
							HEIGHT /**/: 32px;
						}
						.slider1-T .pdn .w, .slider1-T .pav .w
						{
							border-style: solid;
						}
						.slider1-T .c
						{
							WIDTH: 62px;
							HEIGHT: 32px;
							FILTER:  alpha(opacity=45);
							opacity: .45;
								
							transition: opacity .6s;
							-moz-transition: opacity .6s;
							-webkit-transition: opacity .6s;
							-o-transition: opacity .6s;
						}
						.slider1-T .p:hover .c, .slider1-T .phv .c, .slider1-T .pav .c
						{
							FILTER:  alpha(opacity=0);
							opacity: 0;
						}
						.slider1-T .p:hover .c, .slider1-T .phv .c
						{
							transition: none;
							-moz-transition: none;
							-webkit-transition: none;
							-o-transition: none;
						}
						 /* jssor slider thumbnail navigator skin 07 css */
                /*
                .jssort07 .p            (normal)
                .jssort07 .p:hover      (normal mouseover)
                .jssort07 .pav          (active)
                .jssort07 .pav:hover    (active mouseover)
                .jssort07 .pdn          (mousedown)
                */
                .jssort07 .i {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 99px;
                    height: 66px;
                    filter: alpha(opacity=80);
                    opacity: .8;
                }

                .jssort07 .p:hover .i, .jssort07 .pav .i {
                    filter: alpha(opacity=100);
                    opacity: 1;
                }

                .jssort07 .o {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 97px;
                    height: 64px;
                    border: 1px solid #000;
                    transition: border-color .6s;
                    -moz-transition: border-color .6s;
                    -webkit-transition: border-color .6s;
                    -o-transition: border-color .6s;
                }

                * html .jssort07 .o {
                    /* ie quirks mode adjust */
                    width /**/: 99px;
                    height /**/: 66px;
                }

                .jssort07 .pav .o, .jssort07 .p:hover .o {
                    border-color: #fff;
                }

                .jssort07 .pav:hover .o {
                    border-color: #0099FF;
                }

                .jssort07 .p:hover .o {
                    transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }